.PokeList {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PokeList Link {
  outline: none;
  text-decoration: none;
}
.textEdit {
  text-transform: capitalize;
}

.PokeList .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  background-color: black;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,1);
  max-width: 168px;
  min-width: 168px;
  max-height: 252px;
  min-height: 252px;
}

.PokeList .img {
  max-width: 120px;
  min-width: 120px;
  max-height: 120px;
  min-height: 120px;
}

.PokeList .sprite-div {
  width: 95% !important;
  margin-left: 2px !important;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(116, 116, 116, 0.973);
}
.filler-img {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
}

.titleEditor {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 158px;
  max-width: 158px;
}